{% extends 'home/base.html' %}
{% load static %}
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Our Doctor</title>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js" integrity="sha256-ivk71nXhz9nsyFDoYoGf2sbjrR9ddh+XDkCcfZxjvcM=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <style type = text/css>
        @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

        body, html {
			font-family: 'Lato', sans-serif;
		    margin: 0;
		    padding: 0;
		}

        .normal{
            font-family: 'Lato', sans-serif;
		    font-size: 1.2vw;
            text-align: left;
            color: #000000;
        }

        .title{
            font-size: 1.8vw;
            font-weight: bold;
            color: #000000;
        }

        .row {
            display: -webkit-flex;
            display: flex;
        }

        .column {
            padding: 10px;
        }

        .column.pic {
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
        }
        .column.name {
            -webkit-flex: 2;
            -ms-flex: 2;
            flex: 2;
        }

        .info{
            display : flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
        }

        .quotesbox{
            background-color: #d8f2f5;
            border: 1px #d8f2f5;
            margin: 1.5vw;
            padding: 0;
            width: auto;
            overflow: auto;
        }

        /* agar responsif */
        @media (max-width: 600px) {
            .row {
                -webkit-flex-direction: column;
                flex-direction: column;
            }
        }

    </style>
    {% block title %}
    <title>Our Doctors - {{ data.name }}</title>
    {% endblock title%}
</head>

<body>
    {% block content %}
    <div class = "wrapper d-flex align-items-center justify-content-center">
        <div class = "container" style="display: flex; flex-flow: column wrap;">
            <!--pic and message-->
            <div class = "row">
                <img src="{{ data.profile_picture.url }}" class = "column pic" style = "border-radius: 50%;">
                <div class = "column name">
                    <p style="color: #154440; font-size: 1.8vw;">{{ data.name }}</p><br>
                    <p class="normal" style="font-weight: bold;">"{{ data.message}}"</p><br>
                </div>
            </div>

            <!--info detail-->
            <div class = "info">
                <div>
                    <p class="title" style="font-size: 1.8vw; font-weight: bold;">Known For:</p>
                    <p class="normal">{{ data.known_for }}</p><br>
                </div>

                <div>
                    <p class="title" style="font-size: 1.8vw; font-weight: bold;">Path to GetHealthy:</p>
                    <p class="normal">{{ data.path_to }}</p><br>
                </div>

                <div>
                    <p class="title" style="font-size: 1.8vw; font-weight: bold;">Passion:</p>
                    <p class="normal">{{ data.passion }}</p><br>
                </div>
            
                <div class = "quotesbox">
                    <p class = "title d-flex align-self-flex-start justify-content-flex-start">Favorite Quote</p>
                    <h6 style = "text-align: center;">"{{ data.fav_quote }}"</h6>
                    <p class="normal d-flex align-self-flex-end justify-content-flex-end">-{{ data.fav_quote_by }}</p>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>