body {
	font-family: 'Lato';
}

#aboutus {
	margin-right: 75px;
	margin-left: 75px;
	margin-bottom: 75px;
	margin-top: 20px;
	font-size: 25px;
	line-height: 40px;
	text-align: center;
	color: #154440;
}

.cartoondoc {
	max-height: 350px;
	margin: 0 auto;
	display: block;
	margin-bottom: 40px;
	margin-top: 40px;
}

.ourdoctors {
	padding-left: 75px;
	margin-top: 120px;
	margin-bottom: 120px;
	text-align: center;
	margin-left: 0 !important;
	margin-right: 0 !important;
}

#ourdoctors {
	font-size: 60px;
	line-height: 86px;
	color: #33726D;
	text-decoration: none;
}

hr.line {
	height: 10px;
	background-color: #154440;
}

.docdesc {
	color: #33726D;
	font-size: 25px;
	line-height: 40px;
	margin-top: 40px;
	margin-bottom: 40px;
}

.book {
	font-size: 25px;
	line-height: 40px;
	color: #33726D;
	font-weight: bold;
}

.doctors {
	max-height: 441px;
	filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.25));
	border-radius: 10px;
	margin: 0 auto;
	display: block;
}

.improve-page {
	background-color: #33726D;
	padding: 120px;
}

.improve-page p {
	font-size: 72px;
	line-height: 86px;
	text-align: center;
	color: #FFFFFF;
}

.suggestion {
	margin: 0 auto;
	display: block;
	position: relative;
}

#improve-text {
	margin-bottom: 75px;
}

.buttonku {
	margin: 0 auto;
	display: block;
	background-color: #FCF8F8;
	color: #33726D;
	border-radius: 12px;
	border: 1px solid #33726D;
	width: 200px;
	height: 70px;
	font-size: 20px;
}

.buttonku.form {
	width: 209px;
	height: 60px;
}

.buttonku:hover {
	background-color: #42C3B6;
	color: white;
	border: 1px solid #42C3B6;
}

.form-control {
	margin-bottom: 50px;
	background-color: #154440 !important;
	color: #E5E5E5 !important;
	border: 0 !important;
	max-width: 80%;
	margin-right: auto;
	margin-left: auto;
	display: block !important;
	font-size: 20px !important;
}

#id_email, #id_name {
	height: 50px;
}

#id_suggestion {
	height: 150px;
}

.carousel.slide {
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
	margin-bottom: 150px;
	display: block;

}

.carouselTitle {
	font-size: 50px;
	background: rgba(80, 80, 80, 0.67);