<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
</head>
<body>
	<div class="container">
		<h1 class="text-center">Booking Form</h1>
		<div class="form-group row">
			<label for="staticDoctorName" class="col-form-label">Doctor's Name: </label>
			<input type="text" readonly class="form-control-plaintext" value="{{ hour.day.doctor.name }}" id="staticDoctorName">
		</div>
		<div class="form-group row">
			<label for="staticSchedule" class="col-form-label">Schedule: </label>
			<input type="text" readonly class="form-control-plaintext" value="{{ hour.day.name }}, {{ hour.hour }}" id="staticSchedule">
		</div>
			<form method="POST">
				{% csrf_token %}
				{{ form.as_p }}
				<button type="submit" class="btn btn-genoa">Make Booking</button>
			</form>
		</div>
	</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
</body>
</html>